{{#section "styles" append=true}}
{{/section}}

<div class="container mt-4" style="margin-top: 150pxs;">
  <h2>Your Wishlist</h2>
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://tedu.com.vn/uploaded/images/courses/082020/reactjs-basic.PNG?w=450&h=249"
          class="card-img-top" alt="Course Image">
        <div class="card-body">
          <h5 class="card-title">Ancient Magic</h5>
          <p class="card-text">Professor: Albus Dumbledore</p>
          <p class="card-text">Learn about the ancient arts of magic and spell-crafting.</p>
          <a href="/course/detail?id=ancient-magic" class="btn btn-primary">Learn</a>
          
        </div>
      </div>
    </div>

  </div>
</div>