{{#section "styles" append=true}}
<link rel="stylesheet" href="/account.css">
{{/section}}

<div class="profile-page">
  <div class="card profile-card">
    <h5 class="card-header">
      <i class="bi bi-person-circle"></i> User Profile
    </h5>

    <div class="card-body">
      <h5 class="card-title">Username: example_user</h5>
        <p class="card-text">Email:</p>
        <p class="card-text">Full Name:</p>
        <p class="card-text">Phone:</p>
        <a href="/account/change-password" class="btn btn-primary">
            <i class="bi bi-key"></i> Change Password
        </a>
        <a href="/account/profile" class="btn btn-primary">
            <i class="bi bi-success"></i> save profile
        </a>
    </div>