<div class="card">
  <h5 class="card-header">Trang chủ</h5>
  <div class="card-body">
    <p>Sinh viên tự bố trí nội dung phù hợp.</p>
  </div>
  <div class="card-footer text-muted">Footer</div>
</div>