<link rel="stylesheet" href="/403,404.css">

<div class="error-container text-center">
    <h1 class="error-code">500</h1>
    <h2 class="error-message">Internal Server Error</h2>
    <p class="error-text">The web server encountered an unexpected problem and was unable to complete your request,
        usually due to a configuration issue, code issue, or server error.</p>
    <a href="/" class="magic-btn">Back to Home</a>
</div>