{{#section "styles" append=true}}
<link rel="stylesheet" href="/Adminn.css">
{{/section}}

<form class="adminpage" >
    <div class="adminpage">
        <h3>Admin</h3>
        <div class="form-actions">
            <button type="button" class="btn" onclick="window.location.href='/admin/user/list'">
                <i class="bi bi-x-circle"></i> User Manage
            </button>

            <button type="button" class="btn" onclick="window.location.href='/admin/category/list'">
                <i class="bi bi-check-circle"></i> Category Manage
            </button>
        </div>

    </div>
</form>