{{#section "styles" append=true}}
<link rel="stylesheet" href="/Adminn.css">
{{/section}}

<form class="adminpage">
    <div class="adminpage">
        <h3>Admin</h3>
        <div class="form-actions">
            <button type="button" class="btn" onclick="window.location.href='/admin/user/list'">
                <i class="bi bi-people-fill"></i> User Manage
            </button>
            <button type="button" class="btn" onclick="window.location.href='/admin/category/list'">
                <i class="bi bi-tag-fill"></i> Category Manage
            </button>
            <br>
            <button type="button" class="btn" id="btnInstructor">
                Instructor Manage
            </button>

            <button type="button" class="btn" onclick="window.location.href='/admin/subcat/byCat?id=all'">
                Sub Category Manage
            </button>
            <br>
            <button type="button" class="btn" id="btnStudent">
                Student Manage
            </button>
            <button type="button" class="btn"
                onclick="window.location.href='/admin/course/byCat?id=all&bySubCat=all'">
                Course Manage
            </button>
            <script>
                const roleBtns = {
                    btnInstructor: "1", // Instructor
                    btnStudent: "2"     // Student
                };

                Object.entries(roleBtns).forEach(([id, role]) => {
                    const btn = document.getElementById(id);
                    if (btn) {
                        btn.addEventListener("click", () => {
                            localStorage.setItem("presetRole", role);
                            window.location.href = "/admin/user/list";
                        });
                    }
                });
            </script>
        </div>
    </div>
</form>