{{#section "styles" append=true}}
<link rel="stylesheet" href="/Adminn.css">
{{/section}}

<form class="add-user-form" method="POST" action="/admin/subcat/add">
  <div class="edit-user-form">
    <h3>Add SubCategory</h3>

    <div class="form-group">
      <label>SubCategory Name</label>
      <input type="text" name="SubCatName" placeholder="Enter subcategory name" required />
    </div>

    <div class="form-group">
      <label>SubCategory Description</label>
      <textarea class="big-input" name="SubCatDes" placeholder="Enter subcategory description"></textarea>
    </div>

    <!-- Truyền CatID ẩn để biết cha -->
    <input type="hidden" name="CatID" value="{{CatID}}" />

    <div class="form-actions">
      <a href="/admin/subcat/byCat?id={{CatID}}">
        <button type="button" class="btn-cancel">
          <i class="bi bi-x-circle"></i> Cancel
        </button>
      </a>
      <button type="submit" class="btn-save">
        <i class="bi bi-plus-circle"></i> Add
      </button>
    </div>
  </div>
</form>
