{{#section "styles" append=true}}
<link rel="stylesheet" href="/Adminn.css">
{{/section}}

<form class="adminpage" >
    <div class="adminpage">
        <h3>Your account has been locked for some reason, please contact hotline/admin for resolution.</h3>
    </div>
</form>